apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ocm-klusterlet-nprod
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://open-cluster-management.io/helm-charts'
    targetRevision: 1.2.0
    chart: klusterlet
    helm:
      values: |
        klusterlet:
          clusterName: nprod-bu-x
        hubApiServer: https://172.18.0.3:6443
        bootstrapHubKubeConfig: |
          apiVersion: v1
          clusters:
          - cluster:
              certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURCVENDQWUyZ0F3SUJBZ0lJUDRNRkUzYm9sRXd3RFFZSktvWklodmNOQVFFTEJRQXdGVEVUTUJFR0ExVUUKQXhNS2EzVmlaWEp1WlhSbGN6QWVGdzB5TmpBeU1qQXhNVEEwTlRkYUZ3MHpOakF5TVRneE1UQTVOVGRhTUJVeApFekFSQmdOVkJBTVRDbXQxWW1WeWJtVjBaWE13Z2dFaU1BMEdDU3FHU0liM0RRRUJBUVVBQTRJQkR3QXdnZ0VLCkFvSUJBUUMxM0kvbThGWURnN2I5NFpEdHZrbVFpdFVKZUNiREV3dzJDZVh0cDZPUlpqTk9jTFFkSFNCREdablYKaUpFTkVWWE1XRmY3VHpDc2FzRmZNaStseGZ0NUdQM1RueGZVa25WaFgrT2JZK2xZbWp4cTRnb2I0RXF1ekprWgpVREhNQ0o5SFczNmIvRUdHeG1yRXVLcFRYZ2ovM2pGOEtWTFF3UW12NTdEMUdla2RyanI2K1hsNjFGN0E1QWs4CnhPYVJzd3VkMkZ4b2ZGaHNWTzFQVldiYW0rOXdDZ2FmZ2F6ZG56elJVd3NXMjhRb0VQVFpEQlMvbVZEVUZlQXYKU0hMdG0rMHdna2VCVlBJdERsL2tzWXFTaUZqdXVKeXJranliUHNmejVCWFFSRDF3SHJrbmsra0VRQ01zWExUMwpIMXUzcDZqS21LaDVKL3Vicmtwa3NKZVlGbjZUQWdNQkFBR2pXVEJYTUE0R0ExVWREd0VCL3dRRUF3SUNwREFQCkJnTlZIUk1CQWY4RUJUQURBUUgvTUIwR0ExVWREZ1FXQkJTb3owMHc4WHRiUXd4Y1kwZ2NyWjNNS3R2bHdqQVYKQmdOVkhSRUVEakFNZ2dwcmRXSmxjbTVsZEdWek1BMEdDU3FHU0liM0RRRUJDd1VBQTRJQkFRQUtDWDFJNW1tRQpzdS9wU0IwOVlvU0VMWEdydE4xdnNEVWR6ejZ2ZWVNbmliVXFNUEFYcElTYlBBOVc1SWVZRnhFOG9ScG5WNmlRCkZoK1JXdnBVemdLS3pnWlEvYmh5SUNXWkJRS2h0MGppNUNkcVV4Z2pJZ0l2bUUrNUhKMThyeFowalhIZWgydEkKdmxRZ1F6a0hzcmhaVHVhYTN3MWtmVk1qZjNKbjhPbThoU3VxU21LUDk4S3Qzd0JlRmZPSmoxRFhoTXFoNmdYeAo4OHAyeXlLMTBYaFA0WkxXZXc5ZzByNGU3cTFSSlU1TDJTOWw4TFdhOW02Zm1HVVpRQnJKM283dlArbkVIbXQwCnpUekV6eVBqYWd6TnY1Z1FEL2lOaEEwK3FlN0VrWUcrZXhYUHU0MnBvbUsrSFhZUnhwaEg2WGhMZE1XT0poZXkKd0pCdnNCTFRqWkhpCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
              server: https://172.18.0.3:6443
            name: hub-cluster
          contexts:
          - context:
              cluster: hub-cluster
              user: klusterlet-bootstrap
            name: default
          current-context: default
          kind: Config
          preferences: {}
          users:
          - name: klusterlet-bootstrap
            user:
              token: eyJhbGciOiJSUzI1NiIsImtpZCI6IjhrZ3R0RFhHUUFwWjlrLU93VzVfLWdOVDF4XzMycXozeW93OVNnLWtReFkifQ.eyJhdWQiOlsiaHR0cHM6Ly9rdWJlcm5ldGVzLmRlZmF1bHQuc3ZjLmNsdXN0ZXIubG9jYWwiXSwiZXhwIjoxODAzMjAyNTkxLCJpYXQiOjE3NzE2NjY1OTEsImlzcyI6Imh0dHBzOi8va3ViZXJuZXRlcy5kZWZhdWx0LnN2Yy5jbHVzdGVyLmxvY2FsIiwianRpIjoiNTVmOGNmYjQtODlkOC00ODBlLTgwNDQtODNhNjZkNjUwZmRkIiwia3ViZXJuZXRlcy5pbyI6eyJuYW1lc3BhY2UiOiJkZWZhdWx0Iiwic2VydmljZWFjY291bnQiOnsibmFtZSI6ImtsdXN0ZXJsZXQtYm9vdHN0cmFwIiwidWlkIjoiNTMyYjA3YzgtYWZiNS00ZGZkLWIwZjgtZDY2YjE2ZDE3ZWVhIn19LCJuYmYiOjE3NzE2NjY1OTEsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDpkZWZhdWx0OmtsdXN0ZXJsZXQtYm9vdHN0cmFwIn0.o2GlLUMWEJzdwDSTzySnEe1aF8NABFU6e_5lMy1QhAkoDvhlc4HMJYVrDwgKvtwcRRD-g01BDSlkjdOysZt8Sol3JVTIwySGbNYC6muW7fx9uY50YMJMATaKwzaghsroM_aeZrvr3kQ-spC5MJ8JFjaVr240GXrpCwPrwwOIuq1GKoV-zyaNOrvZ5b90SmaV3MXACPIWr2wuf4ejLNaZpGrQm8cap-rGKY1Pxwgrii2rD2NlRBVdmlqpvcp0a9knmACqitfUgQoZIMrtxndg3UfH_9Q6cTXR3gyoCGISb6YlI4BkfEsPiCI4bVOOEef9mwJfcuCccRfDz9IPI6h8Bw
  ignoreDifferences:
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
    jsonPointers:
    - /spec/preserveUnknownFields
  destination:
    server: 'https://172.18.0.2:6443'
    namespace: open-cluster-management-agent
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true